*{
    margin: 0;
    padding: 0;

}
.navhead{
    background-color: #333;
    padding: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    
}
.navm  .navul .navli {
    display: inline;
    margin-right: 10 px;
    
}
.navm  .navul .navli  .nav_a{
    text-decoration: none;
    color: #f2f2f2;
    padding: 5px 10px;


}
.navm .navul .nav_a:hover{
    background-color: rgba(229, 84, 115, 0.10);
    color: #f2f2f2;
    
}
.color_background{
    background-color: rgba(229, 84, 115, 0.10);
}

.pic_img{
    display:flex ;
    background-color: rgba(229, 84, 115, 0.10);
    align-items: center;
    
}
.banner_descrip{
    width: 634px;
    color: rgb(39, 39, 39, .40);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 0px;
}
.banner_titile{
    width: 708px;
    color: #232323;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
}
.pic_img .bannerimg{
    width: 635px;
    height: 800px;
    padding: 0px 200px 0px 0px;
}
/* 2nd banner */
.second_banner .showcase_flower{
    display: flex;
    justify-content: center;
    /* padding: 110px 70px 0px; */
    gap: 20px;
   
}
.second_banner{
    margin: 80px 80px 40px;
}
.second_banner .second_text_des {
    text-align: center;
}
.imgbg{
    height: 400px;
    width: 300px;
    ;
    background-color: #E55473;
    border-radius: 300px 300px 0px 0px ;
   
}
.figcaption{
    text-align: center;
}
.second_banner .Featured{
    background-color: rgb(0, 0, 0,.1);
    display: flex;
    margin: 20px 80px ;
    padding: 30px;
    align-items: center;
    justify-content: space-between;

}
.icon{
    height: 88px;
    width: 88px;
}
.third_banner{
    margin: none;
    display: flex;
    align-items: center;
    padding: 40px 50px;
    background-color: rgba(229, 84, 115, 0.10);

}
.third_banner_full{
    text-align: center;
    
}
.third_des{

}

/* Footer */
.shopnow{
    background-color: #E55473;
    border: none;
    display: inline-flex;
    align-items: flex-start;
    gap: 10px;
    padding: 20px 43px;
    border-radius: 8px;
}
.letter_shop_now{
    color:white;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
}
.primary_color_f{
    color:#E55473
}
.foot{
    background-color: #111;
    text-align: center;
    padding: 128px;
    /* position: absolute; */
    color:rgb(255,255,255,.90)

}
.foot_logo{
    font-size: 48px;
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
}
.copyright{
color:rgb(255,255,255,.40)
}
#p6{
background-color: rgb(167, 33, 98, .15);
}
#p7{
    background-color: rgba(131, 255, 7, 0.281);
}
#p5{
        background-color: rgb(5, 151, 160, .15);
}